.pr-20r {
    padding-right: 20rem;
  }
  
  .pr-18r {
    padding-right: 18rem;
  }
  
  .pr-16r {
    padding-right: 16rem;
  }
  
  .pr-14r {
    padding-right: 14rem;
  }
  
  .pr-12r {
    padding-right: 12rem;
  }
  
  .pr-10r {
    padding-right: 10rem;
  }
  
  .pr-9r {
    padding-right: 9rem;
  }
  
  .pr-8r {
    padding-right: 8rem;
  }
  
  .pr-7r {
    padding-right: 7rem;
  }
  
  .pr-6r {
    padding-right: 6rem;
  }
  
  .pr-5r {
    padding-right: 5rem;
  }
  
  .pr-4r {
    padding-right: 4rem;
  }
  
  .pr-3r {
    padding-right: 3rem;
  }
  
  .pr-2r {
    padding-right: 2rem;
  }
  
  .pr-1r {
    padding-right: 1rem;
  }
  
  
  
  
  .pl-20r {
    padding-left: 20rem;
  }
  
  .pl-18r {
    padding-left: 18rem;
  }
  
  .pl-16r {
    padding-left: 16rem;
  }
  
  .pl-14r {
    padding-left: 14rem;
  }
  
  .pl-12r {
    padding-left: 12rem;
  }
  
  .pl-10r {
    padding-left: 10rem;
  }
  
  .pl-9r {
    padding-left: 9rem;
  }
  
  .pl-8r {
    padding-left: 8rem;
  }
  
  .pl-7r {
    padding-left: 7rem;
  }
  
  .pl-6r {
    padding-left: 6rem;
  }
  
  .pl-5r {
    padding-left: 5rem;
  }
  
  .pl-4r {
    padding-left: 4rem;
  }
  
  .pl-3r {
    padding-left: 3rem;
  }
  
  .pl-2r {
    padding-left: 2rem;
  }
  
  .pl-1r {
    padding-left: 1rem;
  }